[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tqdm = "*"
tensorflow = "*"
scikit-image = "*"
opencv-python = "*"
"h5py" = "*"
pathlib = "*"


[dev-packages]



[requires]

python_version = "3.6"
